<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pow Hunt, where we hunt the Cunt!</title>
</head>
<body>
  <h1>Pow Hunt!</h1>
  <p>Wehre we hunt the CUNT</p>
</body>
</html>